//COLORS
$black: #000000;
$darkgrey: #333333;
$white: #FFFFFF;
$yellow: #ffb000;
$lightyellow: #fab858;
$darkred: #862a4e;
$red: #9d3636;
$lightred: #eb5f5c;
$blue: #2f465d;

//FONTS
$hand: 'Love Ya Like A Sister', cursive;
