<main ng-app="amigosInvisibles" ng-controller="personasController" >
	<div id="cover">
		<%= image_tag("img.png", :alt => "/") %>
		<span></span>
	</div>
	<div class="persona-list">
		<ul ng-repeat="item in items | orderBy : 'name'" value="{{item.name}}">
			<li>{{item.name}}</li>
			<li><a ng-click="edit(item)"><%= fa_icon "cog" %></a></li>
		</ul>
	</div>
	<hr />
	<persona-editor editing="editing" ng-show="editing" personas="items" avatar="avatar"></persona-editor>
	<div id="options">
		<a id="save" ng-show="editing" ng-click="save(new_item)"><%= fa_icon "save" %></a>
		<%= link_to (fa_icon "random"), personas_shuffle_path, :id => "shuffle", method: :post %>
	</div>
</main>
